@charset "utf-8";
/* CSS Document */


body{
	background-image: url(image_a/background_L.png),url(image_a/background_R.png);
	background-repeat:repeat-y;
	background-size: 14.5%;
	background-position: 2.5% top, 97.5% top;
}


.title{
	margin-top: 6%;
	text-align: center;
}





.subtitle{
	text-align: center;
	margin-top: 2.5%;
}





.start{
	text-align: center;
	margin-top: 2.5%;
}

