@charset "utf-8";
/* CSS Document */


body{
	background-image: url(background_L.png),url(background_R.png);
	background-repeat:repeat-y;
	background-size: 14.5%;
	background-position: 2.5% top, 97.5% top;
}


video{
	width: 45%;
	height: 45%;
	margin-left: 27%;
}





h2{
	font-family:"MS Serif", "New York", "serif";
	line-height: 1%;
	font-size: 55px;
	text-align: center;
}





.start{
	text-align: center;
	margin-top: 5%;
}

