@charset "utf-8";
/* CSS Document */

.answer{
	text-align: center;
	font-size: 35px;
    line-height: 100%;
}

h1{
    text-align: center;
    margin-top: 2%;
    line-height: 30%;
    font-size: 35px;
}

.text{
    margin-top: 3%;
}

p{
    text-align: center;
    margin-top: 1.5%;
    line-height: 30%;
    font-size: 20px;
    font-weight: bold;
}

.choice{

    background-color:rgb(223, 223, 124);
}

.botan{

    text-align: center;
    margin-top: 2%;
}

table{
    width: 500px;
    height: 250px;
    margin-top: 3%;
    margin-left: 36%;
}