@charset "utf-8";
/* CSS Document */

.question{
	text-align: center;
	font-size: 50px;
	line-height: 5%;
	margin-top: 2.5%;
}


.sentense{ 
  text-align: center;
}



.container1{
	display:flex;
	justify-content: space-between;
	margin-top: 3%;
	
}

.container2{
	display:flex;
	justify-content: space-around;
	margin-top: 2%;
	
}




#box1{
  
  animation: bgchange1 1.5s ease infinite ;
 
}
@keyframes bgchange1{
  
  0%{
	background: #445945;
	}
  
  50% {
    background: #584d40;
  }
  
  100%{
	background: #445945;
	}
 
}

#box2{
  
  animation: bgchange2 1.5s ease infinite;
}
@keyframes bgchange2{
  0%{
    background: #445945;
    }
    
    50% {
      background: #395855;
    }
    
    100%{
    background: #445945;
    }
}

#box3{
  
  animation: bgchange3 1.5s ease infinite;
}
@keyframes bgchange3{
  0%{
    background: #445945;
    }
    
    50% {
      background: #445945;
    }
    
    100%{
    background: #445945;
    }
}

#box4{
  
  animation: bgchange4 1.5s ease infinite;
}
@keyframes bgchange4{
  0%{
    background: #445945;
    }
    
    50% {
      background: #615041;
    }
    
    100%{
    background: #445945;
    }
}

.box-outer {
  width: 22%;
  padding: 0 10px;
}

.box {
  display:block;
  width:100%;
  height:300px;
}

 button {
   margin-left: 48%;
	 margin-top: 40px;
   width: 100px;
   height: 50px;
        }
       

      
.checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none; /* テキストが選択されてしまうのを防ぐ */
  /* inputは非表示にする */
 
}




/* チェックが入ったとき */
.checkbox {
  /* □ */
  input:checked + .checkmark {
    background: #2e80ff; /* チェック時の色 */
    border-color: #2e80ff; /* チェック時の色 */
  }
  /* ✓ */
  input:checked + .checkmark:after {
    opacity: 2;
  }
}

