@charset "utf-8";
/* CSS Document */

.container1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.container2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.PCver{
    margin-top: 2.5%;
    text-align: center;
}