@charset "utf-8";
/* CSS Document */

.container1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.container2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.PCver{
    margin-top: 2.5%;
    text-align: center;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}