@charset "utf-8";
/* CSS Document */


h1{
	text-align: center;
	font-size: 50px;
	line-height: 5%;
	margin-top: 3.5%;
  margin-bottom: 3%;
}


h2{

  text-align: center;
  line-height: 40%;
  font-size: 200%;
}


.container1{
	display:flex;
	justify-content: space-between;
	margin-top: 5%;
	
}

.container2{
	display:flex;
	justify-content: space-around;
	margin-top: 5%;
	
}



#box1{
  
  animation: bgchange1 1.5s ease infinite ;
 
}
@keyframes bgchange1{
  
  0%{
	background: #194470;
	}
  
  50% {
    background: #004261;
  }
  
  100%{
	background: #194470;
	}
 
}

#box2{
  
  animation: bgchange2 1.5s ease infinite;
}
@keyframes bgchange2{
  0%{
    background: #194470;
    }
    
    50% {
      background: #194470;
    }
    
    100%{
    background: #194470;
    }
}

#box3{
  
  animation: bgchange3 1.5s ease infinite;
}
@keyframes bgchange3{
  0%{
    background: #194470;
    }
    
    50% {
      background: #05496c;
    }
    
    100%{
    background: #194470;
    }
}

#box4{
  
  animation: bgchange4 1.5s ease infinite;
}
@keyframes bgchange4{
  0%{
    background: #194470;
    }
    
    50% {
      background: #014f4b;
    }
    
    100%{
    background: #194470;
    }
}

.box-outer {
  width: 22%;
  padding: 0 10px;
}

.box {
  display:block;
  width:100%;
  height:300px;
}

 button {
	 margin-top: 40px;
   margin-left: 50%;
   width: 100px;
   height: 50px;
        }
       

      
.checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none; /* テキストが選択されてしまうのを防ぐ */
  /* inputは非表示にする */
  input {
    display: none;
  }
}




/* チェックが入ったとき */
.checkbox {
  /* □ */
  input:checked + .checkmark {
    background: #2e80ff; /* チェック時の色 */
    border-color: #2e80ff; /* チェック時の色 */
  }
  /* ✓ */
  input:checked + .checkmark:after {
    opacity: 2;
  }
}

